.container {
  background-color: var(--very-dark-blue);
  padding: 25px;
  border-radius: 25px;
  max-width: 350px;
  margin-bottom: 30px;
}

.star__icon {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--dark-blue);
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
}

.rating-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.rating-container > div {
  color: var(--medium-grey);
  background-color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating-container > div:hover {
  background-color: var(--orange);
  color: white;
}

button {
  display: block;
  background-color: var(--orange);
  width: 95%;
  padding: 10px 0;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 400;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: var(--orange);
}
