.container {
  background-color: var(--very-dark-blue);
  padding: 25px;
  border-radius: 25px;
  max-width: 350px;
}

.star__icon {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--dark-blue);
  margin-bottom: 20px;
}

p {
  margin-bottom: 25px;
}

.rating-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  position: relative;
}

.rating-container > span {
  position: relative;
  color: var(--medium-grey);
  background-color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
